package components

templ Title(caption string) {
	<div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
		<h2 class="text-title-md2 font-bold text-black dark:text-white">
			{ caption }
		</h2>
		<nav>
			<ol class="flex items-center gap-2"></ol>
		</nav>
	</div>
}
