package layout

templ Index() {
	@Base() {
		@Main() {
			{ children... }
		}
	}
}

templ Main() {
	<div class="flex h-screen overflow-hidden">
		@Navbar()
		<div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
			@Header()
			<main>
				<div id="mainSection" class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
					{ children... }
				</div>
			</main>
		</div>
	</div>
}
